<footer class="footer">
    <p><span class="footer__copyright">&copy;</span> 2020 GCE</p>
    <p>Created by <i class="fas fa-heart footer__icon"></i> by <a href="https://www.linkedin.com/in/matt-holland/" target="_blank" class="footer__signature">Harper Cham</a></p>
  </footer>