<!-- sidebar -->
<aside class="sidenav">
  <div class="sidenav__brand">
    <i class="fas fa-feather-alt sidenav__brand-icon"></i>
    <a class="sidenav__brand-link" href="#">GCE<span class="text-light">Manage</span></a>
    <i class="fas fa-times sidenav__brand-close"></i>
  </div>
  <div class="sidenav__profile">
    <div class="sidenav__profile-avatar"></div>
    <div class="sidenav__profile-title text-light">User Name</div>
  </div>
  <div class="row row--align-v-center row--align-h-center">
    <ul class="navList">
      <li>
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="far fa-angry"></i></span>
          <span class="navList__subheading-title">Dashboard</span>
        </div>
      </li>
      <li>
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="far fa-angry"></i></span>
          <span class="navList__subheading-title"><a id="test">All Projects</a></span>
        </div>
        <ul class="subList subList--hidden">
          <li class="subList__item"> <a href="cr8proj" style="color:yellowgreen"> Create Project <i
                class="fas fa-plus"></i></a>
          </li>
          <% for(i=1; i<rows.length; i++) { %>
            <a href=<%='project'.concat(i) %>>
          <li class="subList__item" id=<%='project'.concat(i) %>>
            <%= rows[i][5] %></li>
          <% } %></a>
        </ul>
      </li>
      <li>
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="far fa-angry"></i></span>
          <span class="navList__subheading-title">Documentation</span>
        </div>
        <ul class="subList subList--hidden">
          <li class="subList__item">LM</li>
          <li class="subList__item">LG</li>
          <li class="subList__item">Insurance</li>
        </ul>
      </li>
      <li>
        <div class="navList__subheading row row--align-v-center">
          <span class="navList__subheading-icon"><i class="far fa-angry"></i></span>
          <span class="navList__subheading-title">Store</span>
        </div>
      </li>

    </ul>
  </div>
</aside>

<!-- sidebar -->