<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('confg/head/cr8proj') %>

</head>

<body>
	<%- include ('confg/sidebar') %>
	
	<%- include ('partials/create') %>

</body>
<%- include ('confg/script/cr8proj') %>

</html>