<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="./stylesheets/home.css">
</head>

<body>
	<div class="cont">
		<div class="demo">
			<div class="login">
				<h1>GCE</h1>
				<h2> Leave Management</h2>
				<button onclick="location.href='/login'" class="login__submit">Sign in</button>
			</div>
		</div>
</body>

</html>
