<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head-track') %>
</head>

<body>
    <%- include ('partials/menu') %>

    <div class="container-fluid bg-3 text-center">
        <div id='wrap'>
            <div id='calendar'></div>
        </div>
    </div>

</body>
<%- include ('partials/script-calendar') %>

</html>
